body{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body * {
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*  LADO DA IMAGEM - LADO ESQUERDO  */
.ladoEsquerdo{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ladoEsquerdo > h1 {
    color: #514869;
    font-size: 3vw;
}


.ladoEsquerdo-Img{
    width: 85%;
    margin-top: 20px;
}

/*  LADO DO LOGIN - LADO DIREITO  */
.ladoDireito{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 60%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #6089ed;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login > h1 {
    color: #e0e0e0;
    font-weight: 000;
    margin: 0;
    text-align: center;
    letter-spacing: 5px;
}

.redes-sociais{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 20px;
}

.redes-sociais img{
    width: 25px;
    margin-left: 3rem;
}

.redes-sociais a:first-child img{ /* formatação da primeira "imagem" que é o ícone do Gmail  */
    margin-left: 0;
    width: 22px;
}

div > span{
    color: #89a5e9;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    margin: 10px 0px;
}

.form > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #89a5e9;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #89a5e956;
    outline: none;
    box-sizing: border-box;
    margin-bottom: 10px;
}


.form > a{
    color: #fff;
}

.form > a:hover{
    color: #e0e0e0;
}

.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    background-color: #e0e0e0;
    color: #6089ed;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #ffffff52;
}

.btn-login:hover{
    background-color: #fff;
    color: #455a64;
}

/* CONFIGURAÇÃO DA RESPONSIVIDADE */
@media only screen and (max-width: 600px){
    .container{ flex-direction: column;}
    .ladoEsquerdo{ width: 100%; height: auto;}
    .ladoEsquerdo-Img{ width: 60vw;}

    .ladoDireito{ width: 100%; height: auto;}
    .card-login{ width: 100%; height: auto;}
}